/ Footer
%footer.sticky-footer.bg-white
  .container.my-auto
    .copyright.text-center.my-auto
      %span
        = succeed(" - Santiago Bosio, 2020") do
          This work is licensed under a
          = link_to "http://creativecommons.org/licenses/by/4.0/", rel: "license", target: "_blank" do
            Creative Commons Attribution 4.0 International Public License
            %i.fab.fa-creative-commons
            %i.fab.fa-creative-commons-by
        %br/
        %br/
        Github:
        = link_to "https://github.com/sbosio/mylogger-addon", target: "_blank" do
          https://github.com/sbosio/mylogger-addon
        %br/
        %br/
        Theme adapted from
        = link_to "https://startbootstrap.com/themes/sb-admin-2/", target: "_blank" do
          SB Admin 2
        created by Blackrock Digital LLC and released under a
        = link_to "https://github.com/BlackrockDigital/startbootstrap-sb-admin-2/blob/master/LICENSE", target: "_blank" do
          MIT License
/ End of Footer
