%tr
  %td.nowrap= log_message.priority
  %td.nowrap= log_message.timestamp.iso8601.split("+").first
  %td.nowrap= log_message.host
  %td= log_message.application
  %td= log_message.process
  %td= html_escape(log_message.message.chomp).gsub("\n", "<br/>").html_safe
